@import '../variables';

.be-sub-header-right {
    display: flex;
    align-items: center;

    .be-btn-sort {
        margin-left: 7px;
    }

    .bdl-ViewModeChangeButton {
        margin-left: 7px;
    }

    .checkbox-container {
        margin: auto;
        display: flex;
        justify-content: center;
        margin-right: 2.5em;

        label {
          span {
            padding: 1px;
          }
        }
    }
}
